# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
**.txt
__pycache__

# Node
node_modules/*
package-lock.json
package.json

# Scala
.bsp
.scala-build
.metals
.vscode

# Miranda
*.x

# Python
venv